.no-display {
  display: none;
}

.particle-bg {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hide-ui {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 35px;
  height: 35px;
  filter: invert(1);
  opacity: 0.2;
}

.hide-ui:hover {
  opacity: 0.8;
}

.form-box {
  height: 250px;
  width: 250px;
  margin: 250px auto;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(4, 4, 5, 0.116);
  border-radius: 15%;
  color: rgba(191, 117, 252, 0.671);
  text-align: center;
}

.form-box .sub-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
